@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@1,900&display=swap");

* {
  font-family: "Overlock", cursive;
  font-size: xx-large;
  --animate-duration: 9s;
}

p {
  margin-top: 20vh;
  text-align: center;
}
